* { 
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#clock {
  text-align: center;
  position: relative;
  top: 50%;
  font-family: 'Orbitron', sans-serif;
  color: red;
  font-size: 5.5em;
  text-shadow: 3px 3px #000000;
}

